asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Cython==0.29.21
html5lib==1.1
idna==2.10
isodate==0.6.0
keepalive==0.5
Owlready2==0.26
owlrl==5.2.1
pyfiglet==0.8.post1
Pygments==2.8.0
pyparsing==2.4.7
pyshacl==0.14.2
pytz==2021.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.25.1
six==1.15.0
SPARQLWrapper==1.8.5
sqlparse==0.4.1
urllib3==1.26.3
webencodings==0.5.1